$primary: #00b4c1;
$secondary: #ff4b3e;
$font: #dbeaf1;

html,
body {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #00b4c1;
  color: #dbeaf1;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  header {
    margin-top: 10vh;
  }
}
