@import '~bootstrap/scss/bootstrap';

$primary: #00b4c1;
$secondary: #ff4b3e;
$fontColor: #dbeaf1;
$purple: #863970;
$sunny: #ec9321;
$bluish: #0f9cb1;
$antyPurple: #79c68f;
$antySunny: #136cde;
$antyBluish: #f0634e;

html,
body {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $purple;
  color: $fontColor;
}

.bg-warning {
  background-color: $sunny !important;
}

.bg-info {
  background-color: $bluish !important;
}

.bg-dark {
  color: $fontColor !important;
}

.col-2 {
  padding: 0;
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  header {
    margin-top: 5vh;
  }
}

.card {
  border: none;

  &__border {
    margin: auto 2em;
    border-radius: 70%;
    border-top: 0.2em double $purple;
    text-align: center;
    &--group {
      padding-top: 0.6rem;
    }
  }

  &__group {
    width: 90vw;
    margin: 0rem 5vw -2rem 5vw;
    border-radius: 50px;
    padding-top: 0.5em;
    &--header {
      font-weight: 500;
      font-size: 90%;
      letter-spacing: -1pt;
    }
  }

  &__match {
    width: 90vw;
    margin: 0rem 5vw -2.7rem 5vw;
    border-radius: 50px 50px 0px 0px;
    padding-bottom: 2rem;
  }
}
