@import '~bootstrap/scss/bootstrap';
$fontColor: #dbeaf1;
$fontDarkColor: #212529;
$sunny: #ec9321;
$primary: #0f9cb1;
$secondary: #863970;
$greenish: #7cc67d;
$darkBlue: #307187;
$darkCard: #343a40;
$antySecondary: #79c68f;
$antySunny: #136cde;
$antyPrimary: #f0634e;
$cornerRadius: 50px;
$tinLane: 0.1em;
$thickLane: 0.2em;

html,
body {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $primary;
  color: $fontColor;
}

.bg-warning {
  background-color: $sunny !important;
}

.bg-secondary {
  background-color: $secondary !important;
  color: $fontColor !important;
}

.bg-success {
  background-color: $greenish !important;
}

.bg-dark {
  color: $fontColor !important;
}

.btn {
  color: $fontDarkColor;
}

.btn-secondary {
  background-color: $secondary !important;
}

.btn-danger {
  background-color: $primary !important;
}

.btn-warning {
  background-color: $sunny !important;
}

.col-2 {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  header {
    margin-top: 5vh;
  }
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
}

.frame {
  .card {
    border-top: 0.1rem outset black;
    border-left: 1px outset black;
  }
  &--color {
    .card {
      border-top-color: $darkBlue;
      border-left: none;
    }
  }
  &--both {
    .card {
      border-top: 0.1rem outset black;
      border-left: 1px outset black;
      border-right: 1px outset black;
    }
  }
}

.card {
  border: none;
  &__border {
    margin: -1em 2.5em 14.2em 2.5em;
    border-radius: 40%;
    border-top: $thickLane double $primary;
    text-align: center;
    &--group {
      padding-top: 0.6rem;
      margin: $tinLane 2em;
    }
  }

  &__group {
    min-width: 290px;
    max-width: 340px;
    margin: 0rem 5vw -2em 5vw;
    border-radius: $cornerRadius;
    padding-top: 0.5em;
    &--header {
      font-weight: 500;
      font-size: 90%;
      letter-spacing: -1pt;
    }
  }

  &__match {
    min-width: 290px;
    max-width: 340px;
    margin: 0rem 5vw -17rem 5vw;
    border-radius: $cornerRadius $cornerRadius 0px 0px;
    padding-bottom: 2rem;
    &--left {
      padding-right: 0px;
    }
    &--right {
      padding-left: 0px;
    }
  }

  &__teams {
    &--gap {
      padding-top: $thickLane;
      padding-bottom: 5vh;
    }
    .card-body {
      padding: 1em 0.4rem;
    }
  }

  &__knockout {
    min-width: 290px;
    max-width: 340px;
    min-height: 180px;
    padding-top: 1em;
    margin: 0rem 5vw -1.5em 5vw;
    border-radius: $cornerRadius;
  }

  &__r16 {
    margin: 2em auto 4em auto;
    padding-top: 2.4em;
    max-width: 450px;
    min-height: 155px;

    &--type0 {
      border-radius: 0px 0px 0px $cornerRadius;
      margin-bottom: 4rem;
      padding-top: 2.6em;
      min-height: 150px;
    }
    &--type1 {
      border-radius: 0px 0px $cornerRadius 0px;
      padding-top: 2.6em;
      min-height: 150px;
    }
    &--type2 {
      border-radius: $cornerRadius 0px 0px 0px;
    }
    &--type3 {
      border-radius: 0px $cornerRadius 0px 0px;
    }
  }
}

.labels {
  &__header {
    font-weight: 500;
    font-size: 90%;
    letter-spacing: -1pt;
  }
}

.navigation {
  padding: 0.7em;
  background-color: $darkCard;
  border-bottom: $tinLane outset black;
  border-right: $thickLane outset black;
  border-radius: 0px 0px $cornerRadius $cornerRadius;
  .card {
    display: inline-block;
    background-color: $darkCard;
  }
  .btn {
    border: 1px solid $fontDarkColor;
    margin: auto 0.4em;
    border-radius: 0.5rem;
  }
}
